# feeds sources filepath, should be valid yaml collection of channels objects
# with title and channel_id attributes
channels_filepath: $XDG_CONFIG_HOME/pytfeeder/channels.yaml # or $HOME/.config/pytfeeder/channels.yaml

# directory for database
data_dir: $XDG_DATA_HOME/pytfeeder # or $HOME/.local/share/pytfeeder

# update lock filepath, used to store timestamp of the last update
# default value uses directory returned by `tempfile.gettempdir()`
# https://docs.python.org/3/library/tempfile.html#tempfile.gettempdir
lock_file: /tmp/pytfeeder_update.lock

# by default initializes NullHandler, FileHandler if `file` given
# and if `file` is null and `stream` set to true then StreamHandler.
logger:
  file: null
  # logging format, if null and file/stream given then
  # defaults to logging.BASIC_FORMAT = "%(levelname)s:%(name)s:%(message)s"
  # reference: https://docs.python.org/3/library/logging.html#logrecord-attributes
  fmt: null
  # logging level, valid options are: notset, debug, info, warning, error
  level: notset
  stream: false

# If true entries with `/shorts/` in url will not be stored
skip_shorts: false

# tui section
tui:
  # sort channels list in alphabetic order instead of the order defined in channels.yaml
  alphabetic_sort: false

  # always update on start
  always_update: false

  # limit for channel feed, no limit if -1
  channel_feed_limit: -1

  # channels print format, available keys:
  # -- index           - line index
  # -- title           - channel title
  # -- new_mark        - `new_mark` string if channel have updates, otherwise whitespace
  # -- unwatched       - number of new channel entries
  # -- total           - total number of channel entries except deleted
  # -- unwatched_total - '({unwatched}/{total})' string aligned to right
  channels_fmt: '{index} {new_mark} {unwatched_total} {title}'

  # colorscheme, valid values:
  # - ansi name (black red green yellow blue magenta cyan white)
  # - ansi value [curses] (0-255, except 17-19 that reserved)
  # - ansi value [pt] (0-16)
  # - hex value short ('#000') or long ('#abc126')
  color_accent: red
  color_black: black
  color_white: white

  # datetime format for the {published} key of entry format
  datetime_fmt: '%b %d'

  # the download output template used as value for yt-dlp's option `-o`
  download_output: ~/Videos/YouTube/%(uploader)s/%(title)s.%(ext)s

  # entries print format, available keys:
  # -- index         - line index
  # -- new_mark      - `new_mark` string if entry is new, otherwise whitespace
  # -- published     - publication date (uses `datetime_fmt`)
  # -- channel_title - title of the channel
  # -- title         - title of the entry
  entries_fmt: '{index} {new_mark} {published} {title}'
  feed_entries_fmt: '{index} {new_mark} {published} {channel_title} {title}'

  # limit for common feed, no limit if -1
  feed_limit: -1

  # don't show empty channels
  hide_empty: false

  # don't show common 'Feed' channel
  hide_feed: false

  # don't show statusbar
  hide_statusbar: false

  # datetime format for {last_update} status key
  last_update_fmt: '%D %T'

  # macros F1-F4, available only in entries screens
  # passed args:
  # -- $1 - entry id
  # -- $2 - entry title
  macro1: ''
  macro2: ''
  macro3: ''
  macro4: ''

  # new mark string
  new_mark: N

  # never update on startup
  no_update: false

  # notifications cmd, should include `{msg}` placeholder
  notify_cmd: [notify-send, -i, youtube, -a, pytfeeder, '{msg}']

  # Popen(play_cmd) on play video, should include `{url}` placeholder
  play_cmd: [setsid, -f, mpv, '{url}', --ytdl-raw-options=retries=infinite]

  # status bar format, available keys:
  # -- index       - current line index
  # -- last_update - time of last update (formatted with `last_update_fmt`)
  # -- keybinds    - keybinds tip, hardcoded to '[h,j,k,l]: navigate, [q]: quit, [?]: help'
  # -- msg         - status message
  # -- title       - current feed title
  status_fmt: '{msg} {index} {title} {keybinds}'

  # entries sorting order, prefering unwatched over newer but watched
  unwatched_first: false

# interval in minutes between updates on start (used if always_update=false)
update_interval: 30
